#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*NAV SECTION*/
.nav-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  font-size: 4rem;
}
.nav-top input{
  height: 3rem;
  text-align: center;
}
.nav-bottom{
  display: flex;
  background-color: #242424;
  justify-content: space-between;
  padding-right: 1rem;
}
.nav-list{
  display: flex;

}
.nav-bottom li{
  padding:1rem;
  list-style-type: none;
  color: ghostwhite;
  font-size:3rem;
}

/*HERO SECTION*/
.hero-section{
  background-color: rebeccapurple;
  width: 100%;
  height: 100vh;
  color: #242424;
}
.home-section{
  height: 100vh;
  background-color:darkgrey;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.home-img{
  width: 500px;
}
.about-section{
  background-image: url(/src/assets/aboutimg.jpeg);
  background-size: cover;
  height: 100vh;
 background-position:center;
 padding: 1rem 10rem 10rem 10rem;
 color:burlywood;
}
.service-area{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: lightgray;
  
}
.service-card{
  width: 200px;
  background-color: #fff;
  margin: 1rem;
  border-radius: 1rem;
}
.bold{
  font-weight: bold;
}
.boldl{
  color: coral;
}
.service-image{
  border-radius: 1rem;
  width:100%;
}
.news-section{
  background-color:cadetblue;
  height: 100vh;
}